global
    pidfile /var/run/haproxy.pid
    stats socket /var/run/haproxy.sock mode 660 level admin expose-fd listeners
    tune.ssl.default-dh-param 2048{{.ExtraGlobal}}

    # disable sslv3, prefer modern ciphers
    ssl-default-bind-options {{.SslBindOptions}}
    ssl-default-bind-ciphers {{.SslBindCiphers}}

    ssl-default-server-options {{.SslBindOptions}}
    ssl-default-server-ciphers {{.SslBindCiphers}}

resolvers docker
{{- range .Resolvers}}
    {{.}}
{{- end}}

defaults
    mode    http
    balance roundrobin
{{.ExtraDefaults}}
    option  {{.ConnectionMode}}
    option  redispatch

    maxconn 5000
    timeout connect {{.TimeoutConnect}}s
    timeout client  {{.TimeoutClient}}s
    timeout server  {{.TimeoutServer}}s
    timeout queue   {{.TimeoutQueue}}s
    timeout tunnel  {{.TimeoutTunnel}}s
    timeout http-request {{.TimeoutHttpRequest}}s
    timeout http-keep-alive {{.TimeoutHttpKeepAlive}}s
{{.Stats}}
{{.UserList}}
frontend services{{.DefaultBinds}}
    mode {{.DefaultReqMode}}
    {{- if eq .DefaultReqMode "http" }}
    option  forwardfor
    {{- end}}
{{.ExtraFrontend}}{{.ContentFrontend}}{{.ContentFrontendTcp}}{{.ContentFrontendSNI}}{{.ContentListen}}